@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-geist-sans);
  
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  --animate-carousel: marquee 60s linear infinite;
  --animate-blink: blink 1.4s both infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes blink {
  0% { opacity: 0.2; }
  20% { opacity: 1; }
  100% { opacity: 0.2; }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
