# Common default values for OSRM Routing Server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Pods Service Account
# @ignored ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
serviceAccount:
  create: true

# ==============================================================================
ingress:
  enabled: false

# ==============================================================================
httpRoute:
  enabled: false

# ==============================================================================
deploy:
  # type: Deployment, Rollout, StatefulSet
  type: Deployment

  replicaCount: 1

  image:
    repository: registry.gitlab.com/shortlink-org/shop/osrm
    tag: latest
    # -- Global imagePullPolicy
    # Default: 'Always' if image tag is 'latest', else 'IfNotPresent'
    # Ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    pullPolicy: Always

  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 512Mi

  # -- define a liveness probe
  livenessProbe:
    enabled: true
    httpGet:
      path: /health
      port: 5000
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 5

  # -- define a readiness probe
  readinessProbe:
    enabled: true
    httpGet:
      path: /health
      port: 5000
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5

service:
  type: ClusterIP
  ports:
    - name: http
      port: 5000
      protocol: TCP
      public: true

# ==============================================================================
# Prometheus Operator ServiceMonitor configuration
monitoring:
  enabled: false

# ==============================================================================
# PodDisruptionBudget
podDisruptionBudget:
  enabled: false

# ==============================================================================
# NetworkPolicy
networkPolicy:
  enabled: true

  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: shortlink-shop
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: istio-system
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: istio-ingress
  policyTypes:
    - Ingress
