{% extends "admin/base_site.html" %}
{% load static crispy_forms_tags i18n unfold %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="px-4">
    <div class="container mb-6 mx-auto -my-3 lg:mb-12">
        <ul class="flex flex-wrap">
            {% url 'admin:index' as link %}
            {% trans 'Home' as name %}
            {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

            {% url 'couriers:list' as link %}
            {% trans 'Courier Management' as name %}
            {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

            {% trans 'Add Courier' as name %}
            {% include 'unfold/helpers/breadcrumb_item.html' with name=name %}
        </ul>
    </div>
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" id="courier_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <p class="errornote">{{ form.non_field_errors }}</p>
        {% endif %}

        <div class="flex flex-col gap-8">
            {% crispy form "unfold_crispy" %}
        </div>

        <div class="submit-row mt-8">
            <input type="submit" value="Save" class="default" name="_save">
            <p class="deletelink-box"><a href="{% url 'couriers:list' %}" class="closelink">Cancel</a></p>
        </div>
    </form>
</div>
{% endblock %}
